<div class="main-genre">
	<div class="coteiner main-conttainer">
		<ul>
			<li>アウトドア</li>
			<li>日常系</li>
			<li>芸術・文化</li>
			<li>モノづくり系</li>
			<li>学ぶ系</li>
			<li>その他</li>
		</ul>
	</div>
</div>