<div class="main-genre">
	<div class="container main-container">
		<div class="row">
			
			<ul>
				<!-- 後でsmallクラスかdlで副題（簡単な概要、説明を付ける） -->
				<li>アウトドア</li>
				<li>日常系</li>
				<li>芸術・文化</li>
				<li>モノづくり系</li>
				<li>学ぶ</li>
				<li>その他</li>
			</ul>
		</div>
	</div>
</div>