<div class="clearfix">
	<div class="main-motion">
		<div class="container main-container">
			
			<div class="row">

				<!-- 投稿一覧回すeach文 -->
				<% @posts.each do |post| %>

				<div class="card" style= "margin: 20px; width: 21%; float: left;">
					<table class="table table-hover">
						<tbody>


							<!-- 投稿画像 -->
							<tr align="center">
								<td>
									<a href="<%= "/posts/#{post.id}" %>">
										<%= attachment_image_tag post, :post_image, format: "jpeg", fallback: "no_image.jpg", size: "200x200" %>
									</a>
								</td>
							</tr>

							<!-- 趣味の名前 -->
							<tr align="center">
								<td><%= post.title %></td>
							</tr>

							<!-- 一言PR -->
							<tr align="center">
								<td><%= post.appeal %></td>
							</tr>

							<!-- できればジャンルを表示させたい　if文で分岐？ -->
						</tbody>
					</table>
				</div>

				<% end %>
			</div>
			
		</div>
	</div>
</div>