/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body{
	font-family: 'Yu Mincho';
}



.signup{
    height: 500px;
    background-image: url(/images/img/books3.jpg);
    background-size: cover;
    background-position: center;
}

.signup_title{
    color: white;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main-post{
	background-image: url(/images/img/library4.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-container{
	background-color: rgba( 255,255,255,0.8);
}

.main-post-show{
	background-image: url(/images/img/library1.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-post-new{
	background-image: url(/images/img/new-post.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-post-edit{
	background-image: url(/images/img/edit-post.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-users{
	background-image: url(/images/img/user-index.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-users-show{
	background-image: url(/images/img/user-show.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-users-edit{
	background-image: url(/images/img/books3.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-art{
	background-image: url(/images/img/art.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-craft{
	background-image: url(/images/img/craft.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-life{
	background-image: url(/images/img/life.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-motion{
	background-image: url(/images/img/motion.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-study{
	background-image: url(/images/img/study.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-other{
	background-image: url(/images/img/other.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-genre{
	background-image: url(/images/img/genre.jpg);
	height: 520px;
	background-size: cover;
	background-position: bottom;
}
.main-container-genre{
	background-color: rgba( 255,255,255,0.5);
	height: 520px;
}

.btn-success {
	color: white;
}

.user-posts{
	color: black;
	font-size: 20px;
}

.genre-index{
	color: black;
	margin: 30px;
}

.post-recommend{
	margin: 15px;
}

.post-appeal{
	margin: 15px;
}

.post-charm{
	padding: 30px;
}

.bookmark-list{
	padding: 30px;
}

.bookmark-item{
	color: black;
	font-size: 20px;
}

.carousel-item{
	transition: transform .9s ease; /*遷移スピードを変更*/
}

.main-about{
	background-image: url(/images/img/top7.jpg);
	background-size: cover;
	background-position: bottom;
}

.about-main{
	color: white;
}