/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.signup{
    height: 600px;
    background-image: url(img/books3.jpg);
    background-size: cover;
    background-position: center;
}

.signup_title{
    color: white;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main-post{
	background-image: url(img/library4.jpg);
	height: 800px;
}

.main-container{
	height: 800px;
	background-color: rgba( 255,255,255,0.5);
}

.main-post-show{
	background-image: url(img/library1.jpg);
	height: 800px;
}

.main-post-new{
	background-image: url(img/new-post.jpg);
	height: 800px;
}

.main-post-edit{
	background-image: url(img/edit-post.jpg);
	height: 800px;
}

.main-users{
	background-image: url(img/user-index.jpg);
	height: 800px;
}

.main-users-show{
	background-image: url(img/user-show.jpg);
	height: 800px;
}

.main-users-edit{
	background-image: url(img/books3.jpg);
	height: 800px;
}